<h1>Listing bookshops</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Price</th>
      <th>Publish</th>
      <th>Published</th>
      <th>Cd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookshops.each do |bookshop| %>
      <tr>
        <td><%= bookshop.isbn %></td>
        <td><%= bookshop.title %></td>
        <td><%= bookshop.price %></td>
        <td><%= bookshop.publish %></td>
        <td><%= bookshop.published %></td>
        <td><%= bookshop.cd %></td>
        <td><%= link_to 'Show', bookshop %></td>
        <td><%= link_to 'Edit', edit_bookshop_path(bookshop) %></td>
        <td><%= link_to 'Destroy', bookshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookshop', new_bookshop_path %>
